<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Altapersona</servlet-name>
        <servlet-class>BLL.Altapersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bajapersona</servlet-name>
        <servlet-class>BLL.Bajapersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>BLL.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listarpersona</servlet-name>
        <servlet-class>BLL.Listarpersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Altapersona</servlet-name>
        <url-pattern>/Altapersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bajapersona</servlet-name>
        <url-pattern>/Bajapersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listarpersona</servlet-name>
        <url-pattern>/Listarpersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
